Source: ros-fuerte-pcl
Section: misc
Priority: extra
Maintainer: Michael Dixon <mdixon@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), python-sphinx,libusb-1.0-0-dev,cmake,libboost1.46-all-dev,libmysqlclient-dev,ros-fuerte-common-msgs,libqhull-dev,libvtk5-dev,libeigen3-dev,ros-fuerte-flann
Homepage: http://pointclouds.org/
Standards-Version: 3.9.2

Package: ros-fuerte-pcl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-sphinx,libusb-1.0-0-dev,cmake,libboost1.46-all-dev,libmysqlclient-dev,ros-fuerte-common-msgs,libqhull-dev,libvtk5-dev,libeigen3-dev,ros-fuerte-flann
Description: The Point Cloud Library (or PCL) for point cloud processing - development The PCL framework contains numerous state-of-the art algorithms including filtering, feature estimation, surface reconstruction, registration, model fitting and segmentation.
 .
 This stack contains the packages:
 * ros: PCL - Point Cloud Library: a comprehensive open source library for n-D Point Clouds and 3D geometry processing. The library contains numerous state-of-the art algorithms for: filtering, feature estimation, surface reconstruction, registration, model fitting and segmentation, etc.

